@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #D7DAE0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #30394D;
  }
}

body {
  color: rgb(var(--background));
}
*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}