@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #D7DAE0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #30394D;
  }
}

body {
  color: rgb(var(--background));
}
*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}
input:autofill{
  background: #0003;
}
input{
  filter: none;
}

.custom-scroll::-webkit-scrollbar{
  width:1em;
}
.custom-scroll::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.custom-scroll::-webkit-scrollbar-thumb{
  background:#888;
  border-radius: 40px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover{
  background:#555;
}